<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="dao.UserDaoImpl">

	<select id="queryUser" resultType="entity.User" parameterType="entity.User">
		select users.user_id as userId, user_name as userName, password, cid, phone, tmp.community_id as communityId, tmp.community_name as communityName
		from users left join (
			select user_id, community.community_id, community.community_name
			from community, join_community
			where community.community_id = join_community.community_id
		) as tmp on tmp.user_id = users.user_id
		where users.user_id = #{userId} and password = #{password}
	</select>

	<insert id="insertUser" parameterType="entity.User">
		insert into users(user_id, password, user_name, cid, phone)
		values(#{userId}, #{password}, #{userName}, #{cid}, #{phone})
	</insert>

	<select id="queryAdmin" resultType="entity.Admin" parameterType="entity.Admin">
		select admin_id as adminId, community_name as communityName, password
		from admins
		where admin_id = #{adminId} and password = #{password}
	</select>

	<insert id="insertAdmin" parameterType="entity.Admin">
		insert into admins(admin_id, password)
		values(#{adminId}, #{password})
	</insert>

</mapper>