<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="dao.UserDaoImpl">

	<select id="queryUser" resultType="entity.User" parameterType="entity.User">
		select user_id as userId, user_name as userName, password, cid
		from users
		where user_id = #{userId} and password = #{password}
	</select>

	<insert id="insertUser" parameterType="entity.User">
		insert into users(user_id, password)
		values(#{userId}, #{password})
	</insert>

	<select id="queryAdmin" resultType="entity.Admin" parameterType="entity.Admin">
		select admin_id as adminId, community_name as communityName, password
		from admins
		where admin_id = #{adminId} and password = #{password}
	</select>

	<insert id="insertAdmin" parameterType="entity.Admin">
		insert into admins(admin_id, password)
		values(#{adminId}, #{password})
	</insert>

</mapper>